.containerModal{
    inset: 0;
    background: rgba(18, 18, 19, 0.3);   
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.24); 
    position: fixed;
    visibility: visible;
    z-index: 10000;
    width: 100%;
    height:auto;
}
.FormModal{
    padding: 1%;
    margin-left:20%;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.24); 
    position: fixed;
    align-items: center;
    visibility: visible;
    z-index: 10000;
    align-items: center;
    border-radius: 12px;
    width: 60%;
    transition: all 300ms ease-in;
}
.ModalOff{
    top: -20%;
    opacity: 0;
    position: absolute;
    visibility: hidden;
    transition: all 300ms ease-in;
}
.label{
    font-size: clamp(10px, 2vw, 36px);
    margin-left: 6%;
    font-weight: bold;
}
#title, 
#description,
#status{
    width: 85%;
    height: 4vw;
    display: flex;
    font-size: clamp(10px, 2vw, 20px);
    font-weight: bold;
    font-family: inherit;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5%;
    margin-left: 5%;
    border-radius: 10px;
    
}
option{
    cursor: pointer;
}
button{
  font-size: clamp(10px, 2vw, 20px);
  border-radius: 8px;
  font-weight: bold;
}
.close{
    background: red;
    margin-left: 10%;
}
.envoyer{
    background: rgb(2, 92, 2);
    margin-left: 3%;
}